<div class="task-container">
    <label> <strong>Task Type</strong> </label>
    <label>
        <input
          type="checkbox"
          name="filter"
          id="list"
          (change)="ExternalFilter_Change($event)"
       
        />
        List
    </label>
    <label>
        <input
          type="checkbox"
          name="filter"
          id="matrix"
          (change)="ExternalFilter_Change($event)"
   
        />
        Matrix
    </label>
    <label>
        <input
          type="checkbox"
          name="filter"
          id="quantitative"
          (change)="ExternalFilter_Change($event)"
    
        />
        Quantitative
    </label>
</div>

<br>

<div class="task-container">
    <label> <strong>Task Status</strong> </label>
    <label>
        <input
          type="checkbox"
          name="TaskStatus"
          id="started"
          (change)="ExternalFilter_Change($event)"
        />
        Started
    </label>
    <label>
        <input
          type="checkbox"
          name="TaskStatus"
          id="notstarted"
          (change)="ExternalFilter_Change($event)"
        />
        Not Started
    </label>
    <label>
        <input
          type="checkbox"
          name="TaskStatus"
          id="finished"
          (change)="ExternalFilter_Change($event)"
        />
        Finished
    </label>
</div>
<ag-grid-angular
     class="ag-theme-alpine taskGrid"
    [rowData]=""
    [gridOptions]="gridOptions"
    (gridReady)="OnGrid_Ready($event)"
></ag-grid-angular>
<!-- style="width:100%; height:600px" 
    [animateRows]="true"
    [isExternalFilterPresent]="isExternalFilterPresent"
    [doesExternalFilterPass]="doesExternalFilterPass" 
-->